extends layout

block content
  div.app(ng-app="HGOTSApp")
    nav.navbar.navbar-default.navbar-static-top.animations(role="navigation", ng-controller="NavbarController")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
          span.navbar-brand
            span.octicon.octicon-device-desktop.hidden-xs
            span.octicon.octicon-device-mobile.hidden-sm.hidden-md.hidden-lg
            | #{title}
        div.collapse.navbar-collapse#nav-collapse
          ul.nav.navbar-nav(ng-cloak)
            li(ng-class="{ active: isActive('/') }")
              a(ui-sref="home")
                span.octicon.octicon-home
                | {{ 'NAV.HOME' | translate }}
            li(ng-if="currentUserIsPrivileged", ng-class="{ active: isActive('/admin') }")
              a(ui-sref="admin")
                span.octicon.octicon-tools
                | {{ 'NAV.ADMIN' | translate }}
            li(ng-if="currentUserIsPrivileged", ng-class="{ active: isActive('/logs') }")
              a(ui-sref="logs")
                span.octicon.octicon-three-bars
                | {{ 'NAV.ACCESS_LOGS' | translate }}
          ul.nav.navbar-nav.navbar-right
            li(ng-class="{ active: isActive('/about') }")
              a(ui-sref="about")
                span.octicon.octicon-package
                | {{ 'NAV.ABOUT' | translate }}
            li
              a(href="/logout")
                span.octicon.octicon-sign-out
                | {{ 'NAV.LOGOUT' | translate }}
            
    div.container-fluid.animations(ui-view)
      p Loading...
    
  script(src="/js/app.js")
  
