extends layout

block content
  div.app(ng-app="HGOTSApp")
    nav.navbar.navbar-default.navbar-static-top.animations(role="navigation", ng-controller="NavbarController")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
          span.navbar-brand
            span.octicon.octicon-device-desktop.hidden-xs
            span.octicon.octicon-device-mobile.hidden-sm.hidden-md.hidden-lg
            | #{title}
        div.collapse.navbar-collapse#nav-collapse
          ul.nav.navbar-nav
            li
              a(href="#/")
                span.octicon.octicon-home
                | Home
            li(ng-if="currentUserIsPrivileged")
              a(href="#/admin")
                span.octicon.octicon-tools
                | Admin
            li(ng-if="currentUserIsPrivileged")
              a(href="#/logs")
                span.octicon.octicon-three-bars
                | Access logs
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#/about")
                span.octicon.octicon-package
                | About
            li
              a(href="/logout")
                span.octicon.octicon-sign-out
                | Logout
            
    div.container-fluid.animations(ng-view)
    
  script(src="/js/app.js")
  
