extends layout

block content
  include app-includes/index
  
  include app-includes/admin
  include app-includes/operator
  include app-includes/about
  include app-includes/readme

  script(src="/js/app.js")
