extends layout

block content
  div.login
    div.alert.alert-info
      b Heads up!
      p This is work-in-progress software. Feautures are missing and bugs are expected.
    
    div.flex-container
      div.flex-item.well.login-container
        h1= title
        form.form(action="/auth/login", method="post")
          div.form-group.flex-container
            input#login-username.flex-item.form-control(type="text", name="username", placeholder="Username", autofocus="true")
          div.form-group.flex-container
            input#login-password.flex-item.form-control(type="password", placeholder="Password")
            input#login-password-hash(type="hidden", name="password", placeholder="invisible")
          div.flex-container
            button.btn.btn-default.flex-item.btn-lg#login(type="submit") Login
  
  script(src='/js/index.js')
