extends layout

block content
  div.login
    div.flex-container
      div.flex-item.well.login-container
        h1= title
        form.form
          div.form-group.flex-container
            input#login-username.flex-item.form-control(type="text", placeholder="Username")
          div.form-group.flex-container
            input#login-password.flex-item.form-control(type="password", placeholder="Password")
          div.flex-container
            button.btn.btn-default.flex-item.btn-lg#login(type="submit") Login
  
  script(src='/js/index.js')