doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-fluid
      noscript
        p We're sorry, but you need to&nbsp;
          b enable Javascript&nbsp;
          | to use this website.
      block content
