doctype html
html
  head
    meta(charset="utf-8")
    
    title= title
    
    meta(name="title", content="#{title}")
    meta(name="author", content="Sören Gade")
    meta(name="description", content="")
    
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-fluid
      noscript
        p We're sorry, but you need to&nbsp;
          b enable Javascript&nbsp;
          | to use this website.
      block content
