<div class="grid">
  <div class="row">
    <div class="col-sm-8">
      <!-- Info panel -->
      <div class="admin-scroll-info" ng-style="infoPanelStyle">
        <div ng-include="includeFile"></div>
      </div>
    </div>
    <p class="visible-xs">&nbsp;</p> <!-- Space -->

    <div class="col-md-4">
      <!-- User list -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-sm-5">
                <!-- Header -->
                <b>
                  <span class="octicon octicon-organization"></span>
                  Users
                </b>
              </div>
              <div class="col-sm-7">
                <!-- Search -->
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="octicon octicon-search"></span>
                  </span>
                  <input type="search" class="form-control" ng-model="search" placeholder="Search">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 3px;">
              <div class="col-sm-12">
                <!-- Create new user -->
                <a class="btn pull-right" href="#/admin/new">
                  Create new User
                </a>
              </div>
            </div>
          </h3>
        </div>

        <ul class="list-group" id="users">
          <li ng-show="!(users | filter:search ).length" class="list-group-item">
            <span class="octicon octicon-stop"></span>
            No users found.
          </li>
          <!-- ng-repeat -->
          <li ng-repeat="user in users | filter:search | orderBy:'type'" class="list-group-item" ng-class="ifSelectedUserStyle(user)" ng-click="showUser(user)">
            <a href="#/admin/user/{{user.id}}">
              {{user.username}}
            </a>
            <span class="octicon octicon-person"></span>
            

            <div class="pull-right">
              <span class="label label-default" ng-class="userTypeBackgroundStyle(user)">{{user.type}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
