<div class="grid">
  <h3>{{ 'NAV.ACCESS_LOGS' | translate }}</h3>
  
  <div class="row">
    <div class="col-xs-6">
      
      <!-- Date field -->
      <input type="date" ng-model="dateModel" class="form-control">
      
    </div>
    <div class="col-xs-6">
      
      <!-- Search field -->
      <div class="input-group">
        <input type="search" class="form-control" ng-model="search" placeholder="{{ 'LOGS.SEARCH' | translate }}">
        <span class="input-group-addon">
          <span class="octicon octicon-search"></span>
        </span>
      </div>
      
    </div>
  </div>
  
  <div>
    <span class="small">&nbsp;</span> <!-- To create space for the right-pulled results number, b/c it floats -->
    <span class="small pull-right" ng-cloak ng-if="logLines !== null && logLines.length > 2">
      {{ (logLines | filter:search).length }} {{ 'LOGS.RESULTS' | translate }}
    </span>
  </div>
  <ul class="list-group log-items" ng-activity-indicator>
    
    <!-- If no log was found -->
    <li ng-show="logLines === null" class="list-group-item">
      <span class="octicon octicon-info"></span>
      {{ 'LOGS.NO_LOG_FOUND' | translate }}
    </li>
    
    <!-- List of log entries -->
    <li ng-repeat="line in logLines | filter:search track by $index" class="list-group-item log-item" ng-bind-html="trustAsHtml(line)">
    </li>
  </ul>
</div>
