<div class="grid">
  <h3>Log file from <input type="date" ng-model="dateModel" class="form-control" ng-change="loadLog()"></h3>
  
  <div class="input-group">
    <input type="search" class="form-control" ng-model="search" placeholder="Search">
    <span class="input-group-addon">
      <span class="octicon octicon-search"></span>
    </span>
  </div>
  
  <ul class="list-group">
    <li ng-show="logLines === null" class="list-group-item">
      <span class="octicon octicon-info"></span>
      No log was found for that date.
    </li>
    <li ng-repeat="line in logLines | filter:search" class="list-group-item log-item">
      <div ng-bind-html="trustAsHtml(line)"></div>
    </li>
  </ul>
</div>
