.app {
  span.navbar-brand {
    cursor: default;
  }
  a.active {
    font-weight: bold;
  }

  #createNewUser .form-actions button {
    width: 100%;
  }

  #users {
    .ember-view {
      & li {
        // make the li adapt the bg-color of the view
        background-color: inherit;
      }
      // Real styles:
      
      & a {
        color: black;
      }
      
      &:hover {
        background-color: #ccc;
        cursor: pointer;
        
        &.bg-primary {
          background-color: #87ACCB;
        }
        &.bg-info {
          background-color: #D3DDE2;
        }
        
        a {
          font-weight: bold;
        }
      }
    }
  }
}
