$bad: #FF4136;
$okay: #FFDC00;
$good: #2ECC40;

.password-strength-view {
  .strength-bar {
    height: 3px;
    border-radius: 1px;
    
    width: 0%;
    background-color: blue;
    
    &.score-0 {
      width: 10%;
      background-color: $bad;
    }
    &.score-1 {
      width: 25%;
      background-color: $bad;
    }
    &.score-2 {
      width: 50%;
      background-color: $okay;
    }
    &.score-3 {
      width: 75%;
      background-color: $okay;
    }
    &.score-4 {
      width: 100%;
      background-color: $good;
    }
  }
}
