.login {
  margin: 50px;
  
  .well {
    background-color: #37bc9b;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
  
    .flex-item {
      align-items: center;
    }
  }
  
  .login-container {
    padding: 50px;
    
    h1 {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    
    input {
      width: 100%;
    }
  }
}
