.password-strength-view {
  .bar {
    height: 5px;
    border-radius: 3px;
    
    width: 100%;
    transition: width 0.25s;
    
    background-color: $red;
    
    &.score-0 {
      width: 10%;
    }
    &.score-1 {
      width: 25%;
    }
    &.score-2 {
      width: 50%;
      background-color: $yellow;
    }
    &.score-3 {
      width: 75%;
      background-color: $yellow;
    }
    &.score-4 {
      width: 100%;
      background-color: $green;
    }
  }
}
