// Admin page
script#admin(type="text/x-handlebars").
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Type</th>
      <th>Created</th>
      <th>Updated</th>
    </thead>
    {{#each}}
    <tr>
      <td>{{id}}</th>
      <td>{{username}}</th>
      <td>{{password}}</th>
      <td>{{type}}</th>
      <td>{{createdAt}}</th>
      <td>{{updatedAt}}</th>
    </tr>
    {{/each}}
  </table>
