// Default application template
script(type="text/x-handlebars")
  div.container-fluid
    nav.navbar.navbar-default(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        
          a.navbar-brand(href="#") #{title}
      
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li {{#link-to 'index'}}Home{{/link-to}}
            li {{#link-to 'admin'}}Admin{{/link-to}}
            li {{#link-to 'operator'}}Operator{{/link-to}}
            
          ul.nav.navbar-nav.navbar-right
            li {{#link-to 'about'}}About{{/link-to}}
            li
              a(href="/logout") Logout
        
    | {{outlet}}
