script#index(type="text/x-handlebars")
  h1 Home
  div
    | {{#if isLoading}}
    p Loading...
    | {{/if}}
    <button class="btn btn-primary btn-lg center-block" {{action 'openDoor'}}>Open Door</button>
