// Index Page
script#index(type="text/x-handlebars")
  div
    | {{#if isLoading}}
    p Please wait... Loading...
    | {{/if}}
    <button class="btn btn-primary btn-lg center-block" {{action 'openDoor'}} {{bind-attr disabled=isDisabled}}>Open Door</button>
